<div id="form">
	<div><img src="<%=image_url('winningtogether_2016.png')%>" class="logo"/></div>
	<%if flash[:error] %>
		<div class="row">
			<ul class="col-xs-12 alert">
			<% flash[:error].each do |value| %>
				<% if value != "Success!" %>
					<li><%= value.upcase %></li>
				<% end %>
			<% end %>
			</ul>
		</div>
	<% elsif flash[:notice] %>
		<div class="row">
			<ul class="col-xs-12 alert">
				<li><%= flash[:notice] %></li>
			</ul>
		</div>
	<% end %>
	<%= form_for @user, url: users_form_path(@user.registration_code),method: :patch do |f| %>
		<p class="section-label">Full Name<sup>*</sup></p>
		<div class="inline-field">
	  	<%= f.text_field :first_name, class: "required" %><br />
	  	<%= f.label :first_name %>
		</div>
		<div class="inline-field">
	  	<%= f.text_field :last_name, class: "required" %><br />
	  	<%= f.label :last_name %>
		</div>

		<p class="section-label">Preferred name on badge (if different)</p>
		<div class="inline-field">
	  	<%= f.text_field :preferred_first_name %><br />
	  	<%= f.label :preferred_first_name %>
		</div>
		<div class="inline-field">
	  	<%= f.text_field :preferred_last_name %><br />
	  	<%= f.label :preferred_last_name %>
		</div>	

		<p class="section-label">Gender<sup>*</sup></p>
	  <div class="inline-field">
	  	<%= f.text_field :gender, class: "required" %>
		</div>

		<p class="section-label">Email<sup>*</sup></p>
	  <div class="inline-field">
	  	<%= f.text_field :email, type: "email", placeholder: "ex: myname@exxonmobile.com", class: "required" %>
		</div>

		<p class="section-label">Mobile phone number ([+][country code][subscriber number])<sup>*</sup></p>
	  <div class="inline-field">
	  	<%= f.text_field :mobile_number, class: "required" %>
		</div>

		<p class="section-label">Do you own a smart phone/mobile device? If yes, select the type(s):</p>
		 <div class="inline-field">
			<%= f.check_box :iphone %><span class="devices">iPhone</span><br>
			<%= f.check_box :android %><span class="devices">Android</span><br>
			<%= f.check_box :blackberry %><span class="devices">Blackberry</span><br>
			<%= f.check_box :ipad %><span class="devices">iPad</span><br>
			<%= f.check_box :tablet %><span class="devices">Tablet</span><br>
			<%= f.check_box :other %><span class="devices">Other</span>
		</div>

		<p class="section-label">Job Title<sup>*</sup></p>
	  <div class="inline-field">
		  <%= f.text_field :job_title, class: "required" %>
		</div>

		<br /><br />

		<h3>Administrative Assistant Information</h3>
		<p class="section-label">Full Name<sup>*</sup></p>
		<div class="inline-field">
			<%= f.text_field :assistant_first_name, class: "required" %><br />			
			<%= f.label :assistant_first_name %>
		</div>
		<div class="inline-field">
	  	<%= f.text_field :assistant_last_name, class: "required" %><br />
	  	<%= f.label :assistant_last_name %>
		</div>

		<p class="section-label">Email<sup>*</sup></p>
		<div class="inline-field">
	  	<%= f.text_field :assistant_email, type: "email", placeholder: "ex: myname@exxonmobile.com", class: "required" %><br />
	  	<%= f.label :assistant_email %>
		</div>

		<br /><br />

		<h3>Flight Information (Inbound)</h3>
		<p class="section-label">Arrival date and time (Texas local time)</p>
		<div class="inline-field">
			<%= f.datetime_local_field :arrival_date_and_time, :value => @user.arrival_date_and_time %>
		</div>
		<p class="section-label">From where</p>
		<div class="inline-field">
			<%= f.text_field :inbound_destination %>
		</div>

		<br /><br />

		<h3>Flight Information (Outbound)</h3>
		<p class="section-label">Departure date and time (Texas local time)</p>
		<div class="inline-field">
			<%= f.datetime_local_field :departure_date_and_time, :value => @user.departure_date_and_time %>
		</div>
		<p class="section-label">To where</p>
		<div class="inline-field">
			<%= f.text_field :outbound_destination %>
		</div>
		
		<br /><br />

		<p class="section-label">As a reminder, for anyone traveling to the forum who is not based at the Houston campus, the registration process will secure your hotel reservation. For those based locally, the expectation is that you travel safely between the forum and home each. With that in mind, will you require a hotel reservation?<sup>*</sup></p>
		<%= radio_button(:user, :require_hotel, "Yes", checked: true) %> <%= label_tag(:require_hotel, "Yes", class: "radio-choice") %><br />
		<%= radio_button(:user, :require_hotel, "No") %> <%= label_tag(:require_hotel, "No", class: "radio-choice") %>

		<br /><br />

		<h4>In case of an emergency please contact</h4>
		<p class="section-label">Full Name<sup>*</sup></p>
		<div class="inline-field">
			<%= f.text_field :emergency_first_name, class: "required" %><br />			
			<%= f.label :emergency_first_name %>
		</div>
		<div class="inline-field">
	  	<%= f.text_field :emergency_last_name, class: "required" %><br />
	  	<%= f.label :emergency_last_name %>
		</div>

		<p class="section-label">Mobile phone number ([+][country code][subscriber number])<sup>*</sup></p>
	  <div class="inline-field">
	  	<%= f.text_field :emergency_mobile_number, class: "required" %>
		</div>

		<p class="section-label">Relationship<sup>*</sup></p>
		<div class="inline-field">
	  	<%= f.text_field :emergency_relationship, class: "required" %>
		</div>

		<br /><br />

	  <p class="section-label">Note allergies and special medical conditions:</p>
	  <div class="textarea-field">
		  <%= f.text_area :allergies, rows: "4" %>
		</div>

		<br />

		<p class="section-label">At the forum we want to encourage collaboration across the business, and allow you to grow your network of colleagues easily. With that in mind, we are introducing a concept called ‘ask me anything about <u>__<i>blank</i>__</u>’ - where you fill in the blank! <br /><br />We know that many lasting professional relationships started with personal connections - they acted as ice-breakers if you will.<br /><br />With that in mind, we’d like you to complete a personal and professional ‘ask me anything about <u>__<i>blank</i>__</u>’  below. Your colleagues from across the Downstream, Chemicals and Shared Service businesses can search for those people who have similar personal interests and/or professional knowledges that may be helpful to them, and you can choose to participate in user group chat conversations with those colleagues - or better yet arrange to meet up face-to-face. Should you need inspirations, examples might be ‘ask me anything about <u>__<i>golfing</i>__</u>’ and ‘ask me anything about <u>__<i>diesel</i>__</u>’<br /><br />So go ahead and take the first step to getting involved in the discussions!</p>
		
		<br />
		
		<p class="section-label">Ask me anything about...</p>

		<br />

		<p class="section-label">Personal<sup>*</sup></p>
		<div class="inline-field">
	  	<%= f.text_field :personal, class: "required" %><br />
		</div>

    <p class="section-label">Professional<sup>*</sup></p>
    <div class="inline-field">
	  	<%= f.text_field :professional, class: "required" %><br />
		</div>

		<br /><br />

		<p class="section-label">Upload your headshot so your fellow attendees can recognize you! Please use a high res photo of over 2mb in size.<sup>*</sup></p>
		<div class="inline-field">
			<%= f.file_field :photo, class: "required hide-default" %>
			<label for="user_photo" class="btn btn-info upload" style="font-size:16px;">Select photo</label>
    	<p class="display-file-name"></p>
		</div>

		<%if @user.photo_file_name == nil || @user.photo_content_type == nil || @user.photo_file_size == nil || @user.photo_updated_at == nil %>
		<p class="populate" id="profile-pic"></p>
		<%else%>
			<p class="populate" id="profile-pic"><%= image_tag @user.photo.url %></p>
		<%end%>

		<br /><br />

		<p class="section-label">Month of Birth<sup>*</sup></p>
		<div class="inline-field">
	  	<%= f.text_field :month_of_birth, class: "required" %>
		</div>

		<p class="section-label">Day of Birth<sup>*</sup></p>
		<div class="inline-field">
	  	<%= f.text_field :day_of_birth, class: "required" %>
		</div>

		<p class="section-label">Hometown<sup>*</sup></p>
		<div class="inline-field">
	  	<%= f.text_field :hometown, class: "required" %>
		</div>

		<p class="section-label">Favorite sports team or player<sup>*</sup></p>
		<div class="textarea-field">
	  	<%= f.text_area :fav_sports_team_or_player, rows: "4", class: "required" %>
		</div>

		<p class="section-label">Favorite song<sup>*</sup></p>
		<div class="textarea-field">
	  	<%= f.text_area :fav_song, rows: "4", class: "required" %>
		</div>

		<p class="section-label">First job or position at ExxonMobil<sup>*</sup></p>
		<div class="textarea-field">
	  	<%= f.text_area :first_position_at_exxonmobil, rows: "4", class: "required" %>
		</div>

		<p class="section-label">What year did you begin working at ExxonMobil?<sup>*</sup></p>
		<div class="inline-field">
	  	<%= f.text_field :year_started_at_exxonmobil, type: "number", max: "2017", min: "1900", class: "required"%>
		</div>

		<br /><br />

		<%= f.submit 'Save', name: "save", class: "save-button btn" %><br /><br />
		<%= f.submit "Submit",name: "submit", id: "form-submit", class: "submit-button btn", disabled: "disabled" %>
		<div class="texture"><img src="<%=image_url('texture.png')%>"/></div>
	<% end %>
</div>